class AuthorizationError < StandardError; end
class CaptureError < StandardError; end

# Your credit cards will be encrypted with the combination of the
# below secret key and a "remote_salt" variable that's supplied by clients
# of this web service.  
# Is there a better way or more common idiom for doing this?
@@CreditCardSecretKey = "Joe Rules!!"

case RAILS_ENV
when 'test'
   ActiveMerchant::Billing::Base.mode = :test
   $gateway = ActiveMerchant::Billing::AuthorizedNetGateway.new :login => 'LOGIN', :password => 'PASSWORD'
when 'development'
   ActiveMerchant::Billing::Base.mode = :test
   $gateway = ActiveMerchant::Billing::AuthorizedNetGateway.new :login => 'LOGIN', :password => 'PASSWORD'
when 'production'
   $gateway = ActiveMerchant::Billing::AuthorizedNetGateway.new :login => 'LOGIN', :password => 'PASSWORD'
end
